body{
    margin-top: 200px;
}
.box{
    margin: auto;
    border: 1px solid black;
    background-color: rgb(116, 39, 218);
    border-radius: 0px;
    width: 400px;
    height: 300px;
    /* box shadow */
    /* box-shadow: -40px 40px rgb(84, 84, 218) inset,40px -40px  rgb(84, 84, 218) inset,-40px -40px  rgb(84, 84, 218) inset;
    border-radius: 40px 0px; */
    /* transform */

    /* transform: rotate(80deg) */
      /* transform: rotate(0.7turn); */
     /* transform: rotateX(30deg); */
     /* transform:rotateY(50deg); */ 
     /* transform: rotate3d(1,2,1,40deg); */
     /* transform: scaleY(1.5 2); */
     /* transform:translate(300px); */
     /* transform: skewY(30deg); */
     /* transform: skewx(30deg); */
    

     /* Gradient */
     /* background:linear-gradient(red 40%,blue); */
    /* background:linear-gradient(red 0%,blue 50%,black 50%,white 100%); */
    /* background:radial-gradient(circle,red 0%,red 50%,green 50%,green 100%); */
    /* animation:change 2s  infinite linear; */
    /* transition: background-color 2s ease, border-radius 2s ease; */
  
}
/* .box:hover{
      background-color:green;
      border-radius: 50%;
} */
/* @keyframes change
{
    0%{
        background-color: red;
        border-radius: 2px;
        transform: translatex(-100px);
        border-radius: 0px;
    }
 
    50%{
        background-color:blue;
        border-radius: 2px;
        transform: translatex(100px);
        border-radius: 50%;

    }
}
  */

